.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/*
!.vs/settings.json
!.vs/tasks.json
!.vs/launch.json
!.vs/extensions.json
[Oo]bj/*
[Bb]in/*
wwwroot/lib/*
.suo